.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
}
.product-conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 35px 0 50px;
}
.card-component{
    background-color: rgba(255, 153, 0, 0.30);
}