.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
 
}
.header img{
    padding: 19px 0 21px 100px;
}
.header a{
    font-family: Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
    text-decoration: none;
    font-size: 17px;
    font-style: normal;
    color: white;
    padding-right: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.085px;
}
.header a:hover{
    color: orange;
}
.link{
    margin-right: 100px;
}

